.App {
    display: flex;
    flex-direction: column;
}

.content {
    margin-left: 15%; /* Adjust this value based on the Sidebar width */
    padding: 20px;
    padding-top: 70px; /* Adjust this value based on the Navbar height */
}